.so-widget-sow-slider-base-47b3d0811be3 .sow-slider-base .sow-slider-pagination li a {
  background: #ff2b2b;
}
.so-widget-sow-slider-base-47b3d0811be3 .sow-slider-base .sow-slide-nav {
  font-size: 50px;
}
.so-widget-sow-slider-base-47b3d0811be3 .sow-slider-base .sow-slide-nav a {
  color: #ff2b2b;
}
