.so-widget-sow-slider-base-db2efcd8beff .sow-slider-base .sow-slider-pagination li a {
  background: #ff2b2b;
}
.so-widget-sow-slider-base-db2efcd8beff .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-base-db2efcd8beff .sow-slider-base .sow-slide-nav a {
  color: #ff2b2b;
}
